[Desktop Entry]
Encoding=UTF-8
Name=WmWeather
Comment=Applet that displays the weather
Comment[pl]=Informacje o pogodzie
Exec=wmWeather
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
